.db{
    background-color:rgb(250,250,250) ;
}
.board{
    display: flex;
    justify-content: space-between;
  
}
.test{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}
.graph{
      margin-top: 10%;
}
.form{
    margin-top: 10%;
   
}
input{
    margin: 1rem;
}
