
.board{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.test{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
   
   
}

.line{
    margin-top: 10%;
    width: 603px;
    height: 336px;
}
.form{
    margin-top: 10%;
    margin-right: 8%;

}
input{
    margin: 1rem;
}
.db{
    background-color: #FAFAFA;
    
    
}
.fil{
    font-size: small;
    color: #787878;
    
}

.search{
    margin-right: 5%;
}
.slider{
    display: flex;
    margin: 15px 10px; 
    justify-content: end;
    margin-right: 8%;
    
    
}