<div class="db">
<div class="board">
    <div class="dash"><h4>Dashboard</h4></div>

    <div class="search">
    <div class="input-group">
        <div class="form-outline">
          <input type="search"
           id="form1" class="form-control"
           
            placeholder="Search here"/>
         
        </div>
        
      </div>
    </div>
</div>
<div class="test">
    <div class="card" style="width: 10rem; background-color:#7E66D2; color: white;" >
        <div class="card-body">
            <div class="card-body">
                <p class="card-text">icon</p>
                <h6 class="card-title">Tests done</h6>
                <h3 class="card-subtitle mb-2 text-muted" style="color:white;">1,390</h3>
        </div>
      </div> 
    </div> 
      <div class="card" style="width: 10rem;">
        <div class="card-body">
            <div class="card-body">
                <p class="card-text">icon</p>
                <h6 class="card-title">Tests results</h6>
                <h3 class="card-subtitle mb-2 text-muted">1,200</h3>
        </div>
      </div>
    </div>


      <div class="card" style="width: 10rem;">
        <div class="card-body">
          <p class="card-text">icon</p>
          <h6 class="card-title">Tests reports</h6>
          <h3 class="card-subtitle mb-2 text-muted">110</h3>
          
          
        </div>
      


</div>


</div>
<div class="graph">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe atque sapiente soluta, repudiandae qui possimus libero et eius minima nisi quam magni quasi asperiores doloremque beatae, ipsum ipsa modi similique?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe atque sapiente soluta, repudiandae qui possimus libero et eius minima nisi quam magni quasi asperiores doloremque beatae, ipsum ipsa modi similique?</p>
</div>
<div class="form">
    <form class="my-5">
        <div class="form-group">
        
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Tests">
        </div>
        <div class="form-group">
       
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Samples">
        </div>
      </form> 
</div>
</div>