<div class="profile">
  <div class="section">
    <div class="circle">
    <div class="card" style="width: 8rem;height: 8rem; border-radius: 50%;">
      <div class="card-body ">
        <!-- <p class="card-text">icon</p>
        <h6 class="card-title">Tests reports</h6>
        <h3 class="card-subtitle mb-2 text-muted">110</h3> -->
      </div>
</div>
  </div>
    <h5 class="text-center mt-3 bold">Kamau Mwaura</h5>
    <p class="text-center mt-3">kamaumwaura@gmail.com</p>

    <div class="col-md-12 text-center mt-4">
      <button type="button">Edit Profile</button>
      
    
  </div>
  </div>

  
    <div class="row board m-5">
      <button class="one">1</button>
      <p class="mt-2">Pending tests</p> 
      <h3 class="mt-2">5500</h3> 

      <!-- <div class="w3-light-grey w3-tiny">
        <div class="w3-container w3-green" style="width:50%"></div>
      </div> -->
  </div>

  <div class="row boarder m-5">
    <button class="one">2</button>
    <p class="mt-2">Revenue</p> 
    <h3 class="mt-2">100 000</h3> 

    <div class="w3-light-grey w3-tiny">
      <div class="w3-container w3-green" style="width:50%"></div>
    </div>
</div>

















</div>
