<div class="profile">
    <div class="circle">
        <div class="container">
            <div class="row">
              <div class="col-md-12 pt-md-5 text-center">
                <div class="rectangle">
                    
                  </div>
              </div>
            </div>
          </div>
          <div class="mail">
            <div class="desc">
            <p style="font-weight:bold">kamau Mwaura</p>
            <p>kamaumwaura@gmail.com</p>
            <button type="button" class="btn btn-sm">Edit profile</button>
        </div>
            <div class="rect">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <div class="card-body">
                            <p class="card-text">icon</p>
                            <h6 class="card-title">Pending tests</h6>
                            <h3 class="card-subtitle mb-2 text-muted">5,500</h3>
                    </div>
                  </div>
                </div>
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <div class="card-body">
                            <p class="card-text">icon</p>
                            <h6 class="card-title">Revenue</h6>
                            <h3 class="card-subtitle mb-2 text-muted">10,000</h3>
                    </div>
                  </div>
                </div>
            </div>
          </div>
</div>

















</div>
